*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: white;
}

.topo{
    padding: 30px;
}

.icontext{
    display: flex;                                                                                                                    
    align-items: center;
}

#iconheader{
    width: 40px;
}

.textheader{  
    color: rgb(100, 11, 100);
    font-size: 25px;
    margin-left: 10px;
    margin-right: 1350px;
}

.linkheader{
    text-decoration: none;
    padding: 15px;
    color: rgb(100, 11, 100);
}

.linkheader:hover{
    border: 1px solid blueviolet;
    border-radius: 50px;
}



/* ---------------------------------------------------------- */