*{
    
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: 0px;
}
.video{
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    height: 100%;
    width: 100%;

}

body{
    background-color: white;
}

.topo{
    padding: 30px;
    border-bottom: 1px groove black;
}

.icontext{
    display: flex;                                                                                                                    
    align-items: center;
}

#iconheader{
    width: 40px;
}

.textheader{  
    color: rgb(100, 11, 100);
    font-size: 25px;
    margin-left: 10px;
    margin-right: 1350px;
}

.linkheader{
    text-decoration: none;
    padding: 15px;
    color: rgb(100, 11, 100);
}

.linkheader:hover{
    border: 1px solid blueviolet;
    border-radius: 50px;
}



/* ---------------------------------------------------------- */
.titulo{
    padding: 35px;
    color: black;
}
#Projetos{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

#box1{
    width: 225px;
    height: 200px;
    margin-left: 37%;
    border-radius: 10%;
}

#box1:hover{
    border-radius: 5%;
    width: 275px;
    height: 220px;
    margin-left: 35%;

}


