*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: white;
}

.topo{
    padding: 30px;
}

.icontext{
    display: flex;
    align-items: center;
}

#iconheader{
    width: 30px;
}

.textheader{  
    color: rgb(100, 11, 100);
    font-size: 25px;
    margin-left: 10px;
    margin-right: 1440px;
}

.linkheader{
    font-size: 15px;
    text-decoration: none;
    padding: 15px;
    color: rgb(100, 11, 100);
}

.linkheader:hover{
    border: 1px solid blueviolet;
    border-radius: 25px;
}


/* ---------------------------------------------------------- */
.section1{
    background-color: #8B14FD; 
    padding: 70px;

}

.aboutme{
    font-size: 25px;
    color: white;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;

    
}

.subtextaboutme{
    color: white;
    font-family: 'Krona One';
    font-size: 22px;
    text-align: center;
    margin-left: 27%;
    margin-right: 27%;
}

/* ---------------------------------------------------------- */

.fieldset{
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 700px;
    margin-right: 700px;
}

.titlefieldset{
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.textfieldset{
    margin: 0px;
    font-size: 15px;
    text-decoration: none;
}

/* ---------------------------------------------------------- */

.title{
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;

}

.bloco{
    float: left;
    width: 250px;
    height: 280px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #666;
    margin-bottom: 20px;
}


