*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: white;
}

.topo{
    padding: 30px;
    border-bottom: 1px groove black;
}

.icontext{
    display: flex;                                                                                                                    
    align-items: center;
}

#iconheader{
    width: 40px;
}

.textheader{  
    color: rgb(100, 11, 100);
    font-size: 25px;
    margin-left: 10px;
    margin-right: 1350px;
}

.linkheader{
    text-decoration: none;
    padding: 15px;
    color: rgb(100, 11, 100);
}

.linkheader:hover{
    border: 1px solid blueviolet;
    border-radius: 50px;
}



/* ---------------------------------------------------------- */

.habilidades{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 27px;
    padding: 35px;
}

#csslogo,#htmllogo{
    height: 150px;
    padding: 0px 0px 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}